
/* @media screen and (max-zoom: 3) { */

/* GENERAL */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-family: Agency FB, sans-serif;
}

body {
	zoom: reset;
	transform: scale(1);
	transform-origin: 0 0;
}

main {
	display: flex;
	height: 100%;
	background: linear-gradient(#242424, #000);
}

section {
	position: relative;
}

aside {
	width: 30%;
	border-right: 0.5vh solid white;
	background: linear-gradient(#484848, #161616);
	z-index: 1;
}

/* SCORES */

.scores-section {
	height: 60%;
	box-sizing: border-box;
	border-bottom: 0.5vh solid white;
}

/* CALCULATOR */

.calc-section {
	height: 40%;
}

.calc-tbl {
	table-layout: fixed;
	border-spacing: 1vh;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 6vh;
	font-weight: bold;
	text-shadow: 0 0 0.5vh black;
	line-height: 1vh;
	color: white;
}

.calc-tbl td {
	border: 0.5vh solid white;
	border-radius: 1vh;
	height: 7.5vh;
	background: linear-gradient(#808080, #484848);
	cursor: pointer;
}

.calc-tbl td.disabled {
	color: #969696;
	background: linear-gradient(#484848, #161616);
	border: 0.5vh solid #969696;
	pointer-events: none;
}

td.calc-score {
	line-height: 5.5vh;
	background: #323232;
}

td.calc-score.disabled {
	background: #242424;
	pointer-events: none;
}

td.calc-score b {
	font-weight: normal;
	color: #969696;
}

td.calc-score i {
	font-style: normal;
	font-weight: normal;
}

td.back-score {
	font-family: "Lucida Sans Unicode";
	font-size: 5vh;
	line-height: 2%;
}

.back-score b {
	text-shadow: none;
}

/* BUTTONS */

.hist-section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 0;
	pointer-events: none;
	z-index: 1;
}

.hist-tbl {
	table-layout: fixed;
	border-spacing: 1vh;
	width: 12.5vw;
	height: 100%;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 1vh black;
	color: white;
}

.hist-tbl td {
	height: 7.5%;
	font-size: 6vh;
	line-height: 1;
	overflow: hidden;
	border: 0.5vh solid white;
	border-radius: 1vh;
	background: linear-gradient(#808080, #404040);
	pointer-events: auto;
	cursor: pointer;
}

.hist-tbl td.disabled {
	color: #969696;
	background: linear-gradient(#404040, #202020);
	border: 0.5vh solid #969696;
	cursor: default;
}

.hist-tbl td.hidden {
	height: 67%;
	visibility: hidden;
	pointer-events: none;
}

.btn-section {
	position: relative;
	right: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 8%;
	pointer-events: none;
}

.btn-tbl {
	table-layout: fixed;
	border-spacing: 1vh;
	width: 296%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 1vh black;
	color: white;
}

.btn-tbl td {
	height: 7.5%;
	overflow: hidden;
	border: 0.5vh solid white;
	border-radius: 1vh;
	background: linear-gradient(#808080, #404040);
	pointer-events: auto;
}

.btn-tbl td.disabled {
	color: #969696;
	background: linear-gradient(#404040, #202020);
	border: 0.5vh solid #969696;
	cursor: default;
}

.btn-tbl td.hidden {
	visibility: hidden;
	pointer-events: none;
}

.btn-tbl td.darts-btn {
	background-image: url('dart.webp');
	background-size: 80% 95%;
	background-position: center;
	background-repeat: no-repeat;
}

.large-btn {
	font-size: 6vh;
	cursor: pointer;
}

.darts-clear {
	font-size: 4vh;
	font-weight: normal;
	cursor: pointer;
}

.darts-total {
	line-height: 1vh;
	font-size: 6vh;
	cursor: default;
}

.darts {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-left: -0.25vh;
	font-size: 3vh;
	text-align: center;
	line-height: 1;
	color: white;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
}

.darts span {
	width: 65%;
	height: 8vh;
	margin: 1vh 0;
	border: 0.5vh solid transparent;
	border-radius: 1.5vh;
	text-shadow: 0 0 0.5vh black;
	pointer-events: auto;
}

.darts u {
	font-size: 5vh;
	font-weight: bold;
	text-decoration-thickness: 0.25vh;
	text-underline-offset: 0.25vh;
}

.darts .black {
	border: 0.5vh solid white;
	line-height: 7.5vh;
	background: linear-gradient(#646464, #161616);
	cursor: pointer;
}

.darts .white {
	border: 0.5vh solid white;
	line-height: 7.5vh;
	background: linear-gradient(#f0f0f0, #969696);
	cursor: pointer;
}

.darts .red {
	border: 0.5vh solid white;
	background: linear-gradient(#ff3216, #962412);
	cursor: pointer;
}

.darts .green {
	border: 0.5vh solid white;
	background: linear-gradient(#48c832, #368024);
	cursor: pointer;
}

.darts .zero {
	color: #c8c8c8;
	border: 0.5vh solid #c8c8c8;
	line-height: 7.5vh;
	background: linear-gradient(#242424, #000000);
	cursor: pointer;
}

.darts-img {
	width: 70%;
	padding: 10%;
}

.darts-bg {
	position: absolute;
	width: 87.5%;
	height: 34vh;
	margin-left: -0.25vh;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
	background: linear-gradient(#565656, #404040);
	border-radius: 1vh;
}

/* DARTBOARD */
  
.dartboard-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 62%;
	max-width: 62%;
}
  
#dartboard {
	width: auto;
	height: auto;
	margin-right: -0.25vh;
	max-width: 99%;
	max-height: 99vh;
	filter: drop-shadow(0 0 4vh black);
	cursor: crosshair;
	pointer-events: auto;
}

.test {
	color: white;
}

.i1610 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 62.5vw;
	background-color: red;
	border: 0.5vh solid white;
	box-sizing: border-box;
	z-index: 2;
}