
/* @media screen and (max-zoom: 3) { */

/* GENERAL */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-family: Agency FB, sans-serif;
}

body {
	zoom: reset;
	transform: scale(1);
	transform-origin: 0 0;
}

main {
	display: flex;
	height: 100%;
	background: linear-gradient(#242424, #000000);
}

section {
	position: relative;
}

aside {
	width: 30%;
	border-right: 2px solid white;
	background: linear-gradient(#484848, #161616);
	z-index: 1;
}

/* SCORES */

.scores-section {
	height: 60%;
	box-sizing: border-box;
	/* border-collapse: collapse; */
	border-bottom: 2px solid white;
}

.scores-tbl {
	table-layout: fixed;
    width: 100%;
	height: 25%;
    border-spacing: 0;
    color: white;
	font-weight: bold;
	line-height: 1;
	background: red;
}

.scores-tbl .active {
	background: linear-gradient(#c8c8c8, #646464);
}

.player-row {
	height: 10vh;
	background: linear-gradient(#484848, #242424);
}

.player-wins {
	width: 4vh;
	font-size: 3.5vh;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 0.5vh black;
	line-height: 1.05;
}

.player-name input {
	width: 100%;
	border: none;
	background: transparent;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: 6.5vh;
	text-align: left;
	text-shadow: 0 0 1vh black;
	padding-top: 0.25vh;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player-score {
	width: 12vh;
	padding-right: 1vw;
	font-size: 7.5vh;
	font-weight: bold;
	text-align: right;
	text-shadow: 0 0 1vh black;
	/* background: aqua; */
}

.history-row {
	height: 5vh;
	background: #161616;
}

.scores-tbl .hidden {
	display: none;
}

.history {
	overflow-x: auto;
	white-space: nowrap;
	padding-left: 1vw;
	border-bottom: 2px solid white;
	border-top: 2px solid #969696;
}

/* .fade {
	margin-left: auto;
	width: 8vw;
	height: 100%;
	background: linear-gradient(to right, transparent, red);
	pointer-events: none;
} */

.history span {
	color: #c8c8c8;
	font-size: 2.25vh;
	font-weight: normal;
	padding-right: 0.5vw;
	line-height: 1.35;
	vertical-align: center;
}

.history span b {
	color: white;
}

.checkout {
	width: 40%;
	font-size: 3vh;
	font-weight: bold;
	text-align: right;
	padding-right: 1vw;
	color: #00c800;
	border-bottom: 2px solid white;
	border-top: 2px solid #969696;
}

.add-player {
	text-align: center;
	width: 100%;
	/* height: 99%; */
	background: linear-gradient(#484848, #161616);
}

.add-player td {
	font-size: 6vh;
	border-bottom: 2px solid white;
	box-sizing: border-box;
	height: 15vh;
	cursor: pointer;
}

.scrollable {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.scrollable::-webkit-scrollbar {
    display: none; /* WebKit Browsers */
}

/* CALCULATOR */

.calc-section {
	height: 40%;
}

.calc-tbl {
	table-layout: fixed;
	border-spacing: 4px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 6vh;
	font-weight: bold;
	text-shadow: 0 0 0.5vh black;
	line-height: 1vh;
	color: white;
}

.calc-tbl td {
	border: 2px solid white;
	border-radius: 6px;
	height: 7.5vh;
	background: linear-gradient(#808080, #484848);
	cursor: pointer;
}

.calc-tbl td.disabled {
	color: #969696;
	background: linear-gradient(#484848, #161616);
	border: 2px solid #969696;
	pointer-events: none;
}

td.calc-score {
	line-height: 5.25vh;
	background: #323232;
	text-shadow: 0 0 1vh black;
}

td.calc-score.disabled {
	background: #242424;
	pointer-events: none;
}

td.calc-score b {
	font-weight: normal;
	color: #969696;
}

td.calc-score i {
	font-style: normal;
	font-weight: normal;
	text-shadow: none;
}

td.back-score {
	font-family: "Lucida Sans Unicode";
	font-size: 5vh;
	line-height: 1.25%;
	text-shadow: 0 0 0.5vh #00000064;
}

/* BUTTONS */

.ctrl-section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 0;
	pointer-events: none;
	z-index: 1;
}

.ctrl-tbl {
	table-layout: fixed;
	border-spacing: 4px;
	width: 12.5vw;
	height: 100%;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 1vh black;
	color: white;
}

.ctrl-tbl td {
	height: 7.5%;
	font-size: 6vh;
	line-height: 1;
	overflow: hidden;
	border: 2px solid white;
	border-radius: 6px;
	background: linear-gradient(#808080, #404040);
	pointer-events: auto;
	cursor: pointer;
}

.ctrl-tbl td.disabled {
	color: #969696;
	background: linear-gradient(#404040, #202020);
	border: 2px solid #969696;
	cursor: default;
}

.ctrl-tbl td.hidden {
	height: 64%;
	visibility: hidden;
	pointer-events: none;
}

.ctrl-tbl b {
	font-size: 2vh;
	line-height: 1;
}

.btn-section {
	position: relative;
	right: 7.9vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 8vw;
	pointer-events: none;
}

.btn-tbl {
	table-layout: fixed;
	border-spacing: 4px;
	width: 296%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 1vh black;
	color: white;
}

.btn-tbl td {
	height: 7.5%;
	overflow: hidden;
	border: 2px solid white;
	border-radius: 6px;
	background: linear-gradient(#808080, #404040);
	pointer-events: auto;
}

.btn-tbl td.disabled {
	color: #969696;
	background: linear-gradient(#404040, #202020);
	border: 2px solid #969696;
	cursor: default;
}

.btn-tbl td.hidden {
	visibility: hidden;
	pointer-events: none;
}

.btn-tbl td.darts-btn {
	background-image: url('dart.webp');
	background-size: 80% 95%;
	background-position: center;
	background-repeat: no-repeat;
}

.large-btn {
	font-size: 6vh;
	cursor: pointer;
}

.darts-clear {
	font-size: 4vh;
	font-weight: normal;
	cursor: pointer;
}

.darts-total {
	line-height: 1.5vh;
	font-size: 6vh;
	cursor: default;
}

.darts {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-left: -0.25vh;
	font-size: 3vh;
	text-align: center;
	line-height: 1.05;
	color: white;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
}

.darts span {
	width: 70%;
	height: 8.65vh;
	margin: 1vh 0;
	border: 2px solid transparent;
	border-radius: 6px;
	text-shadow: 0 0 0.5vh black;
	pointer-events: auto;
}

.darts u {
	font-size: 5vh;
	font-weight: bold;
	text-decoration-thickness: 0.25vh;
	text-underline-offset: 0.5vh;
}

.darts .black {
	border-color: white;
	line-height: 8vh;
	background: linear-gradient(#646464, #161616);
	cursor: pointer;
}

.darts .white {
	border-color: white;
	line-height: 8vh;
	background: linear-gradient(#c8c8c8, #808080);
	cursor: pointer;
}

.darts .red {
	border-color: white;
	background: linear-gradient(#ff3216, #962412);
	cursor: pointer;
}

.darts .green {
	border-color: white;
	background: linear-gradient(#48c832, #368024);
	cursor: pointer;
}

.darts .zero {
	border-color: white;
	line-height: 8vh;
	background: black;
	cursor: pointer;
}

.darts-img {
	width: 70%;
	padding: 10%;
}

.darts-bg {
	position: absolute;
	width: 87.5%;
	height: 34vh;
	margin-left: -0.25vh;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
	background: linear-gradient(#565656, #404040);
	border-radius: 6px;
}

/* DARTBOARD */
  
.dartboard-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 62%;
	max-width: 62%;
	cursor: crosshair;
}
  
#dartboard {
	width: auto;
	height: auto;
	margin-right: -0.25vh;
	max-width: 99%;
	max-height: 99vh;
	filter: drop-shadow(0 0 4vh black);
	cursor: crosshair;
	pointer-events: auto;
}

.debug-span {
	position: absolute;
	bottom: 1.5vh;
	left: 37.5vw;
	color: white;
	font-size: 3vh;
	font-weight: bold;
	text-underline-offset: 0.25vh;
	line-height: 0.5;
	text-align: center;
}

.debug-span i {
	font-size: 2.5vh;
	font-weight: normal;
	font-style: normal;
}

.debug-span u {
	text-decoration-thickness: 0.25vh;
}

.i1610 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 62.5vw;
	background-color: red;
	border: 2px solid white;
	box-sizing: border-box;
	z-index: 2;
}

.i169 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 56.25vw;
	background-color: red;
	border: 2px solid white;
	box-sizing: border-box;
	z-index: 2;
}

.i43 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 75vw;
	background-color: red;
	border: 2px solid white;
	box-sizing: border-box;
	z-index: 2;
}