
/* @media screen and (max-zoom: 3) { */

/* GENERAL */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-family: Agency FB, sans-serif;
}

main {
	display: flex;
	height: 100%;
	background: linear-gradient(#242424, #000);
}

section {
	position: relative;
}

aside {
	width: 30%;
	border-right: 0.5vh solid white;
	background: linear-gradient(#484848, #161616);
}

/* SCORES */

.scores-section {
	height: 60%;
	box-sizing: border-box;
	border-bottom: 0.5vh solid white;
}

/* CALCULATOR */

.calc-section {
	height: 40%;
}

.calc-tbl {
	table-layout: fixed;
	border-spacing: 1vh;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 6vh;
	font-weight: bold;
	text-shadow: 0 0 0.5vh black;
	line-height: 7.5vh;
	color: white;
}

.calc-tbl td {
	border: 0.5vh solid white;
	border-radius: 1vh;
	background: linear-gradient(#808080, #484848);
}

td.calc-score {
	border: 0.5vh solid white;
	background: linear-gradient(#323232, #323232);
}

.backspace {
	font-family: "Lucida Sans Unicode";
	font-size: 5vh;
	line-height: 2%;
}

.backspace b {
	text-shadow: none;
}

/* BUTTONS */

.btn-section {
	position: relative;
	right: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 8%;
	z-index: 1;
	/* background: linear-gradient(#969696, #646464); */
}

.btn-tbl {
	table-layout: fixed;
	border-spacing: 1vh;
	width: 296%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 1vh black;
	color: white;
}

.btn-tbl td {
	height: 7.5%;
	overflow: hidden;
	border: 0.5vh solid white;
	border-radius: 1vh;
	background: linear-gradient(#565656, #404040);
}

.small-btn {
	font-size: 4vh;
	font-weight: normal;
}

.large-btn {
	font-size: 6vh;
}

.btn-tbl td.darts-btn {
	background-image: url('dart.webp');
	background-size: 80% 95%;
	background-position: center;
	background-repeat: no-repeat;
}

.btn-tbl td.hidden {
	visibility: hidden;
}

.darts {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-left: -0.25vh;
	font-size: 3vh;
	text-align: center;
	line-height: 1;
	color: white;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
}

.darts span {
	width: 65%;
	height: 8vh;
	margin: 1vh 0;
	border: 0.5vh solid black;
	border-radius: 1.5vh;
	background-color: #16161664;
	text-shadow: 0 0 0.5vh black;
	box-shadow: 0 0 1vh black;
}

.darts u {
	font-size: 5vh;
	font-weight: bold;
	text-decoration-thickness: 0.25vh;
	text-underline-offset: 0.25vh;
}

.darts-img {
	width: 70%;
	padding: 10%;
}

.darts-bg {
	position: absolute;
	width: 87.5%;
	height: 35vh;
	margin-left: -0.25vh;
	top: 50%;
	left: 150%;
	transform: translate(-50%, -50%);
	background: linear-gradient(#565656, #404040);
	border-radius: 1vh;
	z-index: -1;
}

.darts .single {
	border: 0.5vh solid white;
	line-height: 7.5vh;
	background: linear-gradient(#969696, #646464);
}

.darts .double {
	border: 0.5vh solid white;
	background: linear-gradient(#48c832, #489632);
}

.darts .triple {
	border: 0.5vh solid white;
	background: linear-gradient(#c83216, #963216);
}

.selected {
	border: 0.5vh solid white;
}

/* DARTBOARD */
  
.dartboard-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 62%;
	max-width: 62%;
}
  
.dartboard-img {
	width: auto;
	height: auto;
	margin-right: -0.25vh;
	max-width: 99%;
	max-height: 99vh;
	filter: drop-shadow(0 0 4vh black);
}

.i1610 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 62.5vw;
	background-color: red;
}